{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:unicorn/all",
    "plugin:tailwindcss/recommended"
  ],
  "env": {
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["tailwindcss"]
}
